
*{
    font-family: sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebebeb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #e0dac0;
    text-align: center;
}

#fijo{
    width: 200px;
    height: 400px;
    background-color: #e0dac0;
}
 li a{
     display: block;
     color: rgb(15, 20, 15);
     padding: 8px 14px;
     text-decoration: none;
     font-family: sans-serif;
     margin-top: 20px;
     background-color: rgb(138, 141, 140);
 }

 li a:hover {
     background-color: green;
     
 }

 #buttonreg_nav{
     border: solid rgb(176, 182, 126) 5px;
     margin-top: 30px;
 }

 #formRegistro{

     margin-top: 70px;
     margin-left: auto;
     margin-right: auto;
     padding: 30px;
     border-radius: 10px;
     width: 300px;
     font-family: sans-serif;
     background: linear-gradient(rgb(195, 194, 194), rgb(122, 126, 124));
 }

 input{
     overflow: scroll;
     margin-left: 8px;
 }


 h3{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     font-size: small;
     color: #292826;
     margin-left: 8px;
 }

 .nombre{
     padding-top: 16px;
 }

 label{
     font-family: sans-serif;
     font-size: 12px;
 }
.titulo{
    text-align: center;
}

 .button-a,
 .button-b,
 .button-c {
    margin: 8px;
    width: 37px;
    height: 37px;
    border: 0px solid black;
}

.botones {
    position: sticky;
    top: 0;
    background-color: rgb(41, 41, 59);
    /*width: 100%;*/
    padding-left: 0%;
    display: flex;
    justify-content: right;
}

img{
    width: 25px;
    height: 25px;
}


.table {
    margin-right: 30%;
    margin-left: 30%;
    background-color: #fff;

}

.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.perfil-profesional{
    background-color: rgb(68, 68, 75);
    color: #fff;
    font-size: 1.3rem;
}

.informacion-personal,
.informacion-profesional,
.habilidades {
    background-color: rgb(68, 68, 75);
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.items-informacion{
    background-color:rgb(135, 135, 150);
    color: #fff;
    font-weight: 300;
}

.items-informacion th {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.respuestas-items th {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color:#4d4c4c;
}

p{
    color: #4d4c4c;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
#botonmensaje {
	width: 90px;
    height: 90px;
    background-image:url("\images/mensaje.png");
	color: #fff; background-color: #59B0E5;
	border: 4px solid #0074a5;
    margin-right: 100px;
}

.titulo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subtitulo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.respuestas-habilidades th {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: #4d4c4c;
}

@media screen and (max-width:768px) {
    .botones {
        position: sticky;
        top: 0;
        background-color: rgb(41, 41, 59);
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }

    .table {
        margin-left: 0%;
        margin-right: 0%;
    }
}